@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #009c97 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #009c97);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

@font-face {
  font-family: Lemonmilk-Regular;
  src: url("../../public/Lemon Milk Pro Regular.otf");
}
@font-face {
  font-family: Lemonmilk-Bold;
  src: url("../../public/Lemon Milk Pro Bold.otf");
}
@font-face {
  font-family: Lemonmilk-Medium;
  src: url("../../public/Lemon Milk Pro Medium.otf");
}
@layer base {
  * {
    font-family: "Lemonmilk-Regular", system-ui, sans-serif;
    transition-duration: 300ms;
    transition-property: color, background-color;
  }
}